:root {
  --primary: #21f08b;

  --background-color: rgb(40, 42, 46);

  --card-bg: rgb(60, 62, 68);
  --card-border-radius: 0.313rem;
  --card-title-size: 1.5rem;
  --card-info-text-size: 1rem;
  --card-min-width: 300px;
  --card-info-text-color: rgb(158, 158, 158);

  --color-red: rgb(255, 0, 0);
  --color-grey: rgb(158, 158, 158);
  --color-yellow: rgb(253, 253, 129);

  --button-bg: rgb(60, 62, 68);
  --button-bg-active: rgb(37, 37, 41);
  --button-bg-hover: rgb(50, 52, 56);
  --button-font-size: 1rem;
  --button-height: 2rem;
  --button-width: 2rem;
  --button-border-radius: 0.219rem;
  --button-color: white;
  --button-border-radius: 0.25rem;

  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.5rem;
  --spacing-xlarge: 2rem;

  --text-pagination-color: rgb(158, 158, 158);

  --text-color: white;
  --text-font-size-small: 0.75rem;
  --text-font-size-medium: 1rem;
  --text-font-size-large: 1.5rem;
}
