.header-container {
  display: flex;
  padding: var(--spacing-large) 0;
  gap: var(--spacing-medium);
  align-items: center;
}

.header-title {
  color: white;
  font-size: var(--text-font-size-large);
}
