.card {
  background-color: var(--card-bg);
  border-radius: var(--card-border-radius);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-medium);
  padding: var(--spacing-medium);

  &:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }

  .card-title {
    font-size: var(--card-title-size);
    color: white;
  }

  .card-info-insider {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
    width: 80%;
  }

  .card-image {
    width: 80%;
    height: 300px;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    filter: grayscale(40%);

    &:hover {
      border: 6px solid var(--secondary);
      transform: scale(1.05);
      filter: none;
    }
  }

  .card-info-text {
    font-size: var(--card-info-text-size);
    color: var(--card-info-text-color);
  }

  .card-info-text-main {
    font-size: var(--card-info-text-size);
    color: white;
  }

  .card-info-text-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
  }
}
