.spinner {
  border: 8px solid rgba(255, 255, 255, 0.3); /* Cor de fundo do círculo */
  border-radius: 50%; /* Torna a forma circular */
  border-top: 8px solid var(--primary);
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
